<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
    <head>
        <meta charset="UTF-8">
        <title>Can Can Wonderland Scheduler</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/angular/angular.min.js"></script>
        <script src="/vendor/angular-route/angular-route.min.js"></script>
        <script src="/vendor/angular-ui-mask/dist/mask.min.js"></script>
        <script src="/vendor/angular-xeditable/xeditable.min.js"></script>
        <script src="/vendor/moment/min/moment.min.js"></script>
        <script src="/vendor/vex-js/js/vex.combined.min.js"></script>
        <script src="/vendor/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
        <script src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/vendor/ng-csv/build/ng-csv.min.js"></script>
        <script src="/javascripts/adminView.js"></script>

        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/vendor/angularjs-datepicker/dist/angular-datepicker.min.css"/>
        <link rel="stylesheet" href="/vendor/vex-js/css/vex.css">
        <link rel="stylesheet" href="/vendor/vex-js/css/vex-theme-default.css">
        <link rel="stylesheet" href="/stylesheets/calendarStyles.css"/>
        <link rel="stylesheet" href="/stylesheets/adminStatandInfo.css"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>

        <base href="/">
    </head>
    <body ng-controller="AdminController as admin">
        <header>

            <div class="homeNav">
                <a href="/" target="_self" ng-click="admin.logout()">
                    <img src="/images/redYellow_sm.png" alt="Golf ball image, takes you to tee time registration" class="starLogo">
                </a>
                <div class="loginOut">
                    <a class="logoutButton" ng-click="admin.logout()" href="/" target="_self">LOGOUT</a>
                </div>
            </div>
        </header>
        <div class='adminHeader grid grid-pad'>
            <div class="cal"><a href="/admin" class="adminLink">CALENDAR</a></div>
            <div class="infoAdmin"><a href="/adminInfo"class="adminLink">INFO</a></div>
            <div class="stats"><a href="/stats" class="adminLink">USERS</a></div>
        </div>
        <div id="adminMain">
            <ng-view class="adminViews">

            </ng-view>
        </div>
        <script>vex.defaultOptions.className = 'vex-theme-default';</script>
    </body>
</html>