<div ng-controller="AdminCalendarController as adminCal">
    <div class="calendarDiv">
        <datepicker  date-format="MMM dd, yyyy">
            <input class='dateButton' ng-model="adminCal.date" type="text" name="datebutton" placeholder="PICK A DATE"/>
        </datepicker>
        <button ng-click="adminCal.submitTime()"  class="submitButton">Submit</button>
    </div>

    <!--ON THIS CLICK, SHOW QUARTER HOURS BELOW IT-->
    <div class="mainHour"  ng-repeat="hour in adminCal.currentDate" >
        <ul>
            <li ng-click="quarterHour = ! quarterHour">
                <div class="hour"> {{hour.hour}} </div>
                <div class="available">AVAILABLE <div class="numAvailable"> {{hour.totalSlotsRemaining}}</div></div>
            </li>
        </ul>
        <!-- ON THIS CLICK SHOW RESERVATIONS-->
        <div class="quarterHour" ng-show="quarterHour" ng-repeat="quarter in hour.quarters">
            <ul>
                <li ng-click="reservation = !reservation">
                    <div class="hour"> {{quarter.quarter}} </div>
                    <div class="available">AVAILABLE <div class="numAvailable"> {{quarter.remainingSlots}}</div></div>
                </li>
            </ul>
            <div class="reservation" ng-show="reservation" ng-repeat="info in quarter.reservations track by $index" >
                <div class="infoName">
                    <div class="infoContainer">
                        <h3>{{info.name}}</h3>
                    </div>
                    <div class="adultNumber infoContainer">
                        {{info.adultnumber}} Adults {{info.childnumber}} Children
                    </div>
                    <div class="infoContainer">
                        <button ng-click="resInfo = !resInfo" class="infoButton">INFO</button>
                    </div>
                    <div id="checkboxes" class="infoContainer">
                        check-in<input type="checkbox" class="check-in" name="check-in" value="check-in" ng-model="adminCal.checked[quarter.quarter + $index]" ng-change="adminCal.checkedin(info.id)">
                    </div>
                </div>
                <div ng-show="resInfo" class="reservationInfo">
                    <form>
                        Name<input type="text" placeholder="{{info.name}}" ng-model="adminCal.name[quarter.quarter + $index]">
                        Email <input type="email" placeholder="{{info.email}}" ng-model="adminCal.email[quarter.quarter + $index]">
                        Phone Number <input type="text" placeholder="{{info.phonenumber}}" ng-model="adminCal.phonenumber[quarter.quarter + $index]" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_">
                        Number of Adults <input type="text" placeholder="{{info.adultnumber}}" ng-model="adminCal.adultnumber[quarter.quarter + $index]">
                        Number of Children <input type="text" placeholder="{{info.childnumber}}" ng-model="adminCal.childnumber[quarter.quarter + $index]">
                        Number of Groups <input type="text" placeholder="{{info.numslots}}" ng-model="adminCal.numslots[quarter.quarter + $index]">
                        Notes <input type="text" placeholder="{{info.notes}}" ng-model="adminCal.notes[quarter.quarter + $index]">
                        Reservation? <input type="checkbox" placeholder="{{info.reservation}}" ng-model="adminCal.reservation[quarter.quarter + $index]">
                        <button ng-hide="info.email" class="infoButton" ng-click="adminCal.submitReservation(quarter.quarter, $index)">Create New Tee Time</button>
                        <button class="infoButton" ng-click="adminCal.cancelReservation(info.id)">Cancel Tee Time</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


