<div ng-controller="AdminEditController as edit">
    <div class="center">
        <div class="black-underline"></div>
        <p class="setNew" editable-text="edit.settings.mopen"> Monday Hours: <p class="setNewSm" editable-text="edit.settings.mclose"><span class="info-edit">{{edit.settings.mopen || 'empty'}} </span> to <span class="info-edit"> {{edit.settings.mclose || 'empty'}} </span></p></p>
        <p class="setNew" editable-text="edit.settings.tuopen"> Tuesday Hours: <p class="setNewSm" editable-text="edit.settings.tuclose"><span class="info-edit">{{edit.settings.tuopen || 'empty'}} </span> to <span class="info-edit"> {{edit.settings.tuclose || 'empty'}} </span></p></p>
        <p class="setNew" editable-text="edit.settings.wopen"> Wednesday Hours: <p class="setNewSm" editable-text="edit.settings.wclose"><span class="info-edit">{{edit.settings.wopen || 'empty'}} </span> to <span class="info-edit"> {{edit.settings.wclose || 'empty'}} <span class="info-edit"></p></p>
        <p class="setNew" editable-text="edit.settings.thopen"> Thursday Hours: <p class="setNewSm" editable-text="edit.settings.thclose"><span class="info-edit">{{edit.settings.thopen || 'empty'}} </span> to <span class="info-edit"> {{edit.settings.thclose || 'empty'}} </span></p></p>
        <p class="setNew" editable-text="edit.settings.fopen"> Friday Hours: <p class="setNewSm" editable-text="edit.settings.fclose"><span class="info-edit">{{edit.settings.fopen || 'empty'}} </span> to <span class="info-edit"> {{edit.settings.fclose || 'empty'}} </span></p></p>
        <p class="setNew" editable-text="edit.settings.saopen"> Saturday Hours: <p class="setNewSm" editable-text="edit.settings.saclose"><span class="info-edit">{{edit.settings.saopen || 'empty'}} </span> to <span class="info-edit"> {{edit.settings.saclose || 'empty'}} </span></p></p>
        <p class="setNew" editable-text="edit.settings.suopen"> Sunday Hours: <p class="setNewSm" editable-text="edit.settings.suclose"><span class="info-edit">{{edit.settings.suopen || 'empty'}} </span> to <span class="info-edit"> {{edit.settings.suclose || 'empty'}} </span></p></p>
        <p class="timeSettingsNote">Keep times in military format</p>
        <div class="black-underline"></div>
        <div class="adjustPrice">
            <p class="setNew" editable-text="edit.settings.adultprice">Adult: <span class="black"> ${{edit.settings.adultprice || 'empty'}}</span></p>
            <p class="setNew" editable-text="edit.settings.childprice">Children: <span class="black"> ${{edit.settings.childprice || 'empty'}}</span></p>
        </div>
        <div class="black-underline"></div>
        <div class="adjustMessage">
            <p class="setNew"> Special Message: <p class="setNewSm" editable-text="edit.settings.specialmessage"> <span class="info-edit"> {{edit.settings.specialmessage || 'Add a special message'}} </span></p></p>
            <div class="black-underline"></div>
        </div>
        <button class="continueButton" ng-click="edit.submitUpdates()">SUBMIT CHANGES</button>
    </div>
</div>

