<div class="statsMain" ng-controller="AdminStatsController as stats">
    <h1>Statistics</h1>

    <div class="statsContainer">
        <button ng-click="stats.getList()">GET EMAILS</button>
        <div ng-repeat="email in stats.emailList">
            <h3>{{email}},</h3>
        </div>
    </div>
    <div class="adminUserControl">
        User Email: <input type="text" ng-model="stats.userEmail">
        <button class="userEditButton" ng-click="stats.deleteUser()">DELETE USER</button>
    </div>
</div>
