<div ng-controller="LoginController as login">
    <form role="form" action ="/login" method="POST" id="login-form">
        <div>
            <button class="fb" value="fb"> <img src="/images/fb.png" alt="facebook logo" width="50"> Login with Facebook</button>
        </div>
        <div>
            <input class="login" type="text" name="email" id="email" placeholder = "EMAIL" required="required"/>
        </div>
        <div>
            <!--TODO: Change from type text to type password//-->
            <input class="" type="text" name="password" id="password" placeholder = "PASSWORD" required="required"/>
        </div>
        <div>
            <a href="/register" class="newUser">NEW USER?</a>
        </div>
        <div>
            <button class="continueButton" type="submit" ng-click="login.getUser()">CONTINUE</button>
        </div>
    </form>
</div>