<div ng-controller="LoginController as login">
    <form role="form" action ="/login" method="POST" id="login-form">
        <div class="loginPlaceholders">
            <a href="/register" class="newUser">NEW USER?</a>

                    <input type="text" name="email" id="emailMain" class ="pholder" placeholder = "EMAIL" required="required"/>
                        <!--TODO: Change from type text to type password//-->
                        <input type="password" name="password" id="passwordMain" class ="pholder" placeholder = "PASSWORD" required="required"/>
                            <a href="/auth/facebook">
                                <button class="fb" value="fb"> <img src="/images/fb.png" class="fbImage" alt="facebook logo" width="50"> Login with Facebook</button>
                            </a>
        </div>
            <div>
                <button class="continueButton" type="submit" ng-click="login.getUser()">CONTINUE</button>
            </div>
    </form>
</div>