<div ng-controller="LoginController as login">
    <form role="form" action="/login" method="POST" id="login-form">
        <div class="loginPlaceholders">
            <div>
                <a href="/register" class="newUser">NEW USER?</a>
            </div>
            <div>
                <a href="/auth/facebook" target="_self">
                    <button class="fb" value="fb" type="button"><img src="/images/fb.png" alt="facebook logo" width="50">Login with Facebook</button>
                </a>
            </div>
            <div>
                <input type="text" name="email" id="emailMain" class="pholder" placeholder="EMAIL" required="required"/>
            </div>
            <div>
                <input type="password" name="password" id="passwordMain" class="pholder" placeholder="PASSWORD"
                       required="required"/>
            </div>
            <div>
                <button class="continueButton" type="submit" ng-click="login.getUser()">CONTINUE</button>
            </div>
        </div>
    </form>
</div>