<div ng-Controller="CustomerCalendarController as calendar">
    <div class="partySize">
        <button ng-model="date" type="text" ng-click="calendar.showPartySize = !calendar.showPartySize">PARTY SIZE</button>
        <div ng-show='calendar.showPartySize' class="partyTotal">
            <slick dots="false" infinite="true" speed="300" slides-to-show="3" touch-move="true" slides-to-scroll="4" centerMode= "true">
                <div ng-repeat="party in calendar.partyList" ng-click="calendar.findPartySize(party)">
                    <div>{{party}}</div>
                </div>
            </slick>
        </div>
    </div>

    <datepicker  date-format="{{today | date:'shortDate'}}">
        <input class='dateButton' ng-model="calendar.date">PICK A DATE</input>
    </datepicker>

    <button ng-click="calendar.buttonTime()"  class="buttonCalendar">PICK A TIME</button>

    <div ng-hide="calendar.mainTime" ng-repeat="hour in calendar.hours">
       <div ng-click="calendar.fullTime[hour.hour + hour.meridian] = !calendar.fullTime[hour.hour + hour.meridian]">
           {{hour.hour}} {{hour.meridian}}
       </div>
            <div ng-show="calendar.fullTime[hour.hour + hour.meridian]" ng-repeat="quarter in calendar.quarters">
                <div ng-click="calendar.getTime(hour.hour, quarter, hour.meridian)">
                    {{hour.hour}}:{{quarter}} {{hour.meridian}}
                </div>
            </div>
    </div>


    <button class="continueButton" type="submit">CONTINUE</button>

</div>