<div class="confirmationMain" ng-controller="ConfirmController as confirm">
    <h2> YOUR CURRENT RESERVATION </h2>
    <div class="currentReservation">
        <h4 class="info"> TIME SLOT </h4>
        <h4 class="customerInfo"> {{confirm.resConfirm.humandate}} </h4>
        <h4 class="info"> SLOTS </h4>
        <h4 class="customerInfo"> {{confirm.resConfirm.numslots}} </h4>
        <h4 class="info"> ADULTS </h4>
        <h4 class="customerInfo"> {{confirm.resConfirm.adultnumber}} </h4>
        <h4 class="info"> CHILDREN </h4>
        <h4 class="customerInfo"> {{confirm.resConfirm.childnumber}} </h4>
        <h2 class="groupSize">Groups of more than 4 will have a 3 minute difference in tee time.</h2>
    </div>

    <div>
        <button class="changeButton" type="submit">CHANGE</button>
    </div>
    <div class="continue">
        <button class="continueButton" ng-click="confirm.confirmReservaiton()">CONTINUE</button>
    </div>


</div>