<div class="confirmationMain">
    <h2> YOUR CURRENT RESERVATION </h2>
    <div class="currentReservation">
        <h4 class="info"> DATE </h4>
        <h4 class="customerInfo"> {{}} </h4>
        <h4 class="info"> TIME </h4>
        <h4 class="customerInfo"> {{}} </h4>
        <h4 class="info"> SLOTS </h4>
        <h4 class="customerInfo"> {{}} </h4>
        <h4 class="info"> ADULTS </h4>
        <h4 class="customerInfo"> {{}} </h4>
        <h4 class="info"> CHILDREN </h4>
        <h4 class="customerInfo"> {{}} </h4>
        <h2 class="groupSize">Groups of more than 4 will have a 3 minute difference in tee time.</h2>
    </div>

    <div>
        <button class="changeButton" type="submit">CHANGE</button>
    </div>
    <div class="continue">
        <button class="continueButton" type="submit">CONTINUE</button>
    </div>


</div>