<div class="confirmationMain" ng-controller="ConfirmController as confirm">
    <h2> YOUR CURRENT RESERVATION </h2>
    <h3>{{confirm.resConfirm.email}}</h3>
    <h3>{{confirm.resConfirm.phonenumber || ""}}</h3>
    <div class="currentReservation">
        <h4 class="info"> TIME SLOT </h4>
        <h4 class="customerInfo"> {{confirm.resConfirm.humandate}} </h4>
        <h4 class="info"> TEE TIME SLOTS </h4>
        <h4 class="customerInfo"> {{confirm.resConfirm.numslots}} </h4>
        <h4 class="info"> ADULTS </h4>
        <h4 class="customerInfo"> {{confirm.resConfirm.adultnumber}} </h4>
        <h4 class="info"> CHILDREN </h4>
        <h4 class="customerInfo"> {{confirm.resConfirm.childnumber}} </h4>
        <h2 class="groupSize">4 GOLFERS PER TEE TIME SLOT</h2>
    </div>

    <div>
        <a href="/customerCalendar" class="changeButton">CHANGE</a>
    </div>
    <div class="continue">
        <a class="continueButton" ng-click="confirm.confirmReservation()" href='/userControl'>CONTINUE</a>
    </div>


</div>