<div ng-controller="CustomerInfoController as info">
    <div class="infoMain">
        <h3 class="walkUps"> WALK UPS WELCOME! </h3>

        <h3> HOURS </h3>

        <div> {{info.currentSettings.mopen}}  {{info.currentSettings.mclose}} </div>
        <div> {{info.currentSettings.tuopen}}  {{info.currentSettings.tuclose}} </div>
        <div> {{info.currentSettings.wopen}}  {{info.currentSettings.wclose}} </div>
        <div> {{info.currentSettings.thopen}} {{info.currentSettings.thclose}} </div>
        <div> {{info.currentSettings.fopen}}  {{info.currentSettings.fclose}} </div>
        <div> {{info.currentSettings.saopen}} {{info.currentSettings.saclose}} </div>
        <div> {{info.currentSettings.suopen}}  {{info.currentSettings.suclose}} </div>

        {{info.currentSettings.specialmessage}}


        <h3> PRICES </h3>
            <div>{{info.currentSettings.adultprice}}</div>
            <div>{{info.currentSettings.childprice}}</div>
        <h3> PHONE </h3>

            <p> 612-871-2545</p>

        <h3> ADDRESS </h3>
        <p>
            308 East Prince St. #307<br/>
            St.Paul, MN 55103
        </p>

            <a href='/customerCalendar'><button class="continueButton" type="submit">CONTINUE</button></a>

    </div>
</div>