<div ng-controller="CustomerInfoController as info">
<div class="infoMain">
    <h3 class="walkUps"> WALK UPS WELCOME! </h3>
    <h3> HOURS </h3>

    {{info.adultprice}}
    {{info.childprice}}

    <div> {{info.mopen}}  {{info.mclose}} </div>
    <div> {{info.tuopen}}  {{info.tuclose}} </div>
    <div> {{info.wopen}}  {{info.wclose}} </div>
    <div> {{info.thopen}} {{info.thclose}} </div>
    <div> {{info.fopen}}  {{info.fclose}} </div>
    <div> {{info.saopen}} {{info.saclose}} </div>
    <div> {{info.suopen}}  {{info.suclose}} </div>
    {{info.specialmessage}}


    <h3> PRICES </h3>
        <p>
            ADULTS - $8
            CHILDREN - $5
        </p>
    <h3> PHONE </h3>

    <p>
        612-871-2545
    </p>
    <h3> ADDRESS </h3>
    <p>
        308 East Prince St. #307<br/>
        St.Paul, MN 55103
    </p>

        <a href='/customerCalendar'><button class="continueButton" type="submit">CONTINUE</button></a>

</div>
</div>