<div class="numberCheckMain" ng-controller="NumberController as num">
    <div class="numAdults">
        <h2>ADULTS</h2>
        <slick dots="false" infinite="true" speed="300" slides-to-show="4" touch-move="true" slides-to-scroll="2" centerMode= "true">
            <div ng-repeat="number in num.numAdults track by $index" ng-click="num.numberOfAdults(number)">
                <p >{{number}}</p>
            </div>
        </slick>
    </div>
    <div class="numChildren">
        <h2>CHILDREN</h2>
        <h3>12 and under</h3>
        <slick dots="false" infinite="true" speed="300" slides-to-show="4" touch-move="true" slides-to-scroll="2" centerMode= "true">
            <div ng-repeat="number in num.numChildren track by $index" ng-click="num.numberOfChildren(number)">
                <p >{{number}}</p>
            </div>
        </slick>
    </div>
    <h2 ng-show="num.price">Estimated Price: ${{num.price}} for {{num.totalAdults}} adults and {{num.totalChildren}} children</h2>
    <a class="continueButton" ng-click='num.showNumAlert()' ng-href="/{{num.numCheck}}">CONTINUE</a>
</div>