<div class="registerMain" ng-controller="RegisterController as register">

    <form role="form" action="/register" method="post">
        <div class="loginPlaceholders">
            <input class="pholder" type="text" name="name" id="name"  placeholder="NAME" required="required" autocomplete="off">

            <input class="pholder" type="email" name="email" id="email" placeholder="EMAIL" required="required" autocomplete="off">

            <input class="pholder" name="phonenumber" id="phone" type="text" ng-model="phonenumber" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_"/>

            <input class="pholder" type="password" name="password" id="password" placeholder="PASSWORD" required="required" ng-model="register.password1">

            <input class="pholder" type="password" name="password2" id="password2" placeholder="CONFIRM PASSWORD" required="required" ng-model="register.password2">
            <button class="continueButton" type="submit" ng-click="register.passwordCheck()">CONTINUE</button>
        </div>
    </form>

</div>