<div ng-controller="UserControlController as control" class="userControlMain">
    <h1 class="h1UserControl">Hello, {{control.myUser.name}}</h1>
    <h2 class="h2UserControl">YOUR RESERVATIONS</h2>
    <div ng-repeat="curRes in control.currentReservations" class="futureReservationContainer">
                <div class="divUserControl">
                        <p class="pUserControl">TEE TIME: {{curRes.humantime}}</p>
                        <!--<p class="pUserControl">{{curRes.humantime}}</p>-->
                        <p class="pUserControl"><span class="redUC">{{curRes.numslots}}</span> Group(s) <span class="redUC">{{curRes.adultnumber}}</span> Adults <span class="redUC">{{curRes.childnumber}}</span> Children</p>
                        <!--<p class="pUserControl">{{curRes.adultnumber}} Adults</p>-->
                        <!--<p class="pUserControl">{{curRes.childnumber}} Children</p>-->
                        <button class="userControlButton" ng-click="control.cancelReservation(curRes.id)">CANCEL</button>
                </div>
    </div>

    <p class="reservationDisclaimer">Groups of 4 or more will tee off separately.</p>

    <h2 class="h2UserControl">YOUR PAST RESERVATIONS</h2>
    <div class="pastReservationContainer" ng-repeat="pastRes in control.pastReservations">
            <div class="divUserControl">
                <p class="pUserControl">TEE TIME: {{pastRes.humantime}}</p>
                <p class="pUserControl">{{pastRes.numslots}} Group(s) {{pastRes.adultnumber}} Adults {{pastRes.childnumber}} Children</p>
            </div>
    </div>
    <div>
        <button class='userControlButton' ng-click="showCustomerInfo = !showCustomerInfo">EDIT MY INFO</button>
    </div>

    <div class="customerInfo" ng-show="showCustomerInfo">
        <ul>
            <li editable-text="control.myUser.name">NAME: {{control.myUser.name || 'Add your name!'}}</li>
            <li editable-text="control.myUser.email">EMAIL: {{control.myUser.email}}</li>
            <li editable-text="control.myUser.phonenumber">PHONE NUMBER: {{control.myUser.phonenumber || 'Add a Phone Number!'}}</li>
        </ul>
        <div class="userEditButtons">
            <button class="userEditButton" ng-click="control.updateAccount()">SUBMIT CHANGES</button>
            <button class="userEditButton" ng-click="control.deleteAccount()">DELETE MY ACCOUNT</button>
            <button class="userEditButton" ng-click="showCustomerInfo = !showCustomerInfo">CLOSE</button>
        </div>
    </div>
</div>