<div ng-controller="UserControlController as control" class="userControlMain">
    <h1 class="h1UserControl">Hello, {{control.myUser.name}}</h1>
    <h2 class="h2UserControl">YOUR RESERVATIONS</h2>
    <div ng-repeat="curRes in control.currentReservations" class="futureReservationContainer">
        <div class="divUserControl">
                    <div class="grid grid-pad">
                        <p class="col-1-3">DATE:</p>
                        <p class="col-2-3">{{curRes.datetime}}</p>
                    </div>
                    <div class="grid grid-pad">
                        <p class="col-1-3">TIME:</p>
                        <p class="col-2-3">{{curRes.datetime}}</p>
                    </div>
                    <div class="grid grid-pad">
                        <p class="col-1-3">SLOTS:</p>
                        <p class="col-2-3">{{curRes.numslots}}</p>
                    </div>
                <p>{{curRes.adultnumber}} Adults</p>
                <p>{{curRes.childnumber}} Children</p>
                <button class="confirmButton">CANCEL</button>
        </div>
    </div>
    <p class="reservationDisclaimer">Groups of 4 or more will tee off separately.</p>
    <h2 class="h2UserControl">YOUR PAST RESERVATIONS</h2>
    <div class="pastReservationContainer" ng-repeat="pastRes in control.pastReservations">
        <div class="divUserControl">
            <div class="grid grid-pad">
                <p class="col-1-3">DATE:</p>
                <p class="col-2-3">{{pastRes.datetime}}</p>
                <div class="grid grid-pad">
                    <p class="col-1-3">TIME:</p>
                    <p class="col-2-3">{{pastRes.datetime}}</p>
                </div>
                <div class="grid grid-pad">
                    <p class="col-1-3">SLOTS:</p>
                    <p class="col-2-3">{{pastRes.numslots}}</p>
                </div>
            <p>{{pastRes.adultnumber}} Adults</p>
            <p>{{pastRes.childnumber}} Children</p>
            </div>
        </div>
    </div>
    <button class='userButton' ng-click="showCustomerInfo = !showCustomerInfo">EDIT MY INFO</button>
    <div class="customerInfo" ng-show="showCustomerInfo">
        <ul>
            <li editable-text="control.myUser.name">NAME: {{control.myUser.name || 'Add your name!'}}</li>
            <li editable-text="control.myUser.email">EMAIL: {{control.myUser.email}}</li>
            <li editable-text="control.myUser.phonenumber">PHONE NUMBER: {{control.myUser.phonenumber}}</li>
        </ul>
        <button class="userButton">SUBMIT CHANGES</button>
        <button class="userButton" ng-click="showCustomerInfo = !showCustomerInfo">CLOSE</button>
    </div>
</div>