@import url(https://fonts.googleapis.com/css?family=Arvo);


.setNew{
    font-family: LTCTourist, Helvetica, Arial, sans-serif;
    font-size: 3em;
    color:#0091D5;
    margin: 10px 0 -4px 34px;
    cursor: pointer;
}

.setNewSm{
    font-family: Arvo, georgia, serif;
    font-size: 2em;
    cursor: pointer;
}

.info-edit:hover{
    color: #ED1C24;
}

.center{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.black{
    color: black;
}
.black:hover{
    color: #ED1C24;
}

.editable-input{
    font-family: Arvo, georgia, serif;
    font-weight: bold;
    color: #ED1C24;
    font-size: 1.5em;
    width: 40%;
    text-align: center;
    padding: 3px 0 3px 0;
    margin: 0 14px 0 0;
}



.adminLink{
    font-size: 2.5em;
    color: black;
    margin: 0 0 0 48px;
    letter-spacing: 2px;
}

.adminLink:hover, .adminLink:focus{
    color:#ED1C24;
}

