@import url(https://fonts.googleapis.com/css?family=Arvo);


.setNew{
    font-family: LTCTourist, Helvetica, Arial, sans-serif;
    font-size: 3em;
    color:#0091D5;
    margin: 10px 0 -4px 34px;
    cursor: pointer;
}

.setNewSm{
    font-family: Arvo, georgia, serif;
    font-size: 2em;
    cursor: pointer;
}

.center{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.black{
    color: black;
}
/*.submitAdminUpdates {*/
/*font-family: LTCTouristAlt, Helvetica, Arial, sans-serif;*/
/*font-size: 2.5em;*/
/*text-align: center;*/
/*color: #ED1C24;*/
/*background-color: #FFE300;*/
/*padding: 8px 22px 2px;*/
/*text-decoration: none;*/
/*border-radius: 0;*/
/*margin: 33px auto 0;*/
/*display: block;*/
/*border: transparent;*/
/*letter-spacing: 2px;*/
/*}*/

.editable-input{
    font-family: Arvo, georgia, serif;
    font-weight: bold;
    color: #ED1C24;
    font-size: 1.5em;
    width: 40%;
    text-align: center;
    padding: 3px 0 3px 0;
    margin: 0 14px 0 0;
}
.black-underline {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 100%;
    height: 12px;
    margin: 19px 0 0 0;
}

.cal a{
    font-size: 2.5em;
    color: black;
    margin: 0 0 0 48px;
    letter-spacing: 2px;
}

.cal a:hover{
    color:#ED1C24;
}

.infoAdmin a{
    font-size: 2.5em;
    color: black;
    margin: 0 0 0 48px;
    letter-spacing: 2px;
}

.infoAdmin a:hover{
    color:#ED1C24;
}

.stats a{
    font-size: 2.5em;
    color: black;
    margin: 0 0 0 48px;
    letter-spacing: 2px;
}

.stats a:hover{
    color:#ED1C24;
}
