
/* blue #0091D5 */
/* red #ED1C24 */
/* yellow #FFE300 */

@import url(https://fonts.googleapis.com/css?family=Arvo);

@font-face{
    font-family: LTCTourist;
    src:url('LTCTouristGothic-Regular.ttf');
}
@font-face{
    font-family: LTCTouristAlt;
    src:url('LTCTouristGothic-Alternate.ttf');
}

/* this is a border hack */
*, *:before, *:after {
    box-sizing: border-box;
}
/* hack to stop blue hue on button and input clicks */
button:focus {outline:0;}
input:focus {outline:0;}
input.sliders.active:active{outline:0;}

body{
    font-family: LTCTouristAlt, Oswald, Helvetica, Arial, sans-serif;
    padding: 0 0 200px 0
}

/*//////////////////////////////////*/
/* HOME PAGE */
.homeNav{
    padding: 2em 0 1em 0;
}
.homeBars  {
    color: black;
    font-size: 3.5em;
    margin: 0 0 0 5%;
    vertical-align: top;
}
.loginOut{
    float: right;
    margin: -0.5em 8% 0 0.5em;
}

.mainLogo{
    display: block;
    margin: 3% auto;
    width: 31%;
    min-width: 3em;
}

.starLogo {
    margin: 0 5px 0 47px;
    width: 5%;
    min-width: 3em;
}


h3{
    font-size: 20px;
    font-weight: bold;
    color: #ED1C24;
    /*margin: 15px 0 5px 5%;*/
}

p{
    font: 14px Arvo, Georgia,serif;
    color: black;
    margin: 2px 0 5px 5%;
}

a {
    text-decoration: none;
}

.fb{
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    border-color: transparent;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    padding: 7px 0 0 0;
    text-decoration: none;
    border-radius: 0;
    margin: 16px 0 8px;
    width: 100%;
    letter-spacing: 2px;
}

.fbImage{
    margin: 1px 9px 0 0px;
}

/*///////////////////////////////////////*/
/* lOGIN */
#emailMain{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #ED1C24;
    border-color: transparent;
    margin: 8px 0;
    padding: 8px 0 11px;
    width: 100%;
}

input#emailMain::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input#emailMain:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input#emailMain::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input#emailMain:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
/*////////////////////////////////*/

#passwordMain{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #ED1C24;
    border-color: transparent;
    margin: 8px 0 37px 0;
    padding: 8px 0 11px;
    width: 100%;
}
/*////////////////////////////////*/
input#passwordMain::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input#passwordMain:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input#passwordMain::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input#passwordMain:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}

/*/////////////////////////////////*/
/*REGISTER*/


.newUser{
    font-size: 3em;
    color: #0091D5;
    font-weight: bold;
    text-align: center;
    margin: 20px auto 11px auto;
    display: block;
    letter-spacing: 2px;
    width: 64%;
}
.newUser:hover{
    color:#ED1C24;
}


#email{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    border-color: transparent;
    margin: 8px 0;
    padding: 8px 0 11px;
    width: 100%;
}
/*////////////////////////////////*/

input.pholder::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input.pholder:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input.pholder::-moz-placeholder{ /* Mozilla Firefox 19+ */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input.pholder:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color:    white;
    font-family: LTCTourist, Helvetica, Ariel, san-serif;
    letter-spacing: 3px;
    font-size: 1.25em;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ED1C24 inset;
    -webkit-text-fill-color: white !important;
}
/*////////////////////////////////*/

#password{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    border-color: transparent;
    margin: 8px 0 8px 0;
    padding: 8px 0 11px;
    width: 100%;
}

#password2{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    border-color: transparent;
    margin: 8px 0 41px;
    padding: 8px 0 11px;
    width: 100%;
}

#name{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color:#0091D5;
    border-color: transparent;
    margin: 8px 0;
    padding: 8px 0 11px;
    width: 100%;
}

#username{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    border-color: transparent;
    margin: 8px 0;
    padding: 8px 0 11px;
    width: 100%;
}

#phone{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    border-color: transparent;
    margin: 8px 0;
    padding: 8px 0 11px;
    width: 100%;
}

.passwordAlert {
    color: #ED1C24;
    text-align: center;
    text-transform: uppercase;
}
.loginPlaceholders{
    width: 40%;
    display: block;
    margin: 0 auto;
}

/*/////////////////////////////////////*/



/*////////////////////////////////////////////*/
/* CUSTOMER HOURS AND PRICE INFO */
.infoMain{
    width: 40%;
    margin: 0 auto;
    display: block;

}

.h3info {
    font-size: 2.7em;
    font-weight: bold;
    color: #ED1C24;
    margin: 15px 0 1px 0;
    letter-spacing: 2px;
}

.h4info {
    font-size: 3em;
    color: #0091D5;
    letter-spacing: 2px;
    margin: 40px 0 -14px 0;
}


.businessinfo {
    font-family: Arvo, Georgia, serif;
    font-size: 1.5em;
    /*margin: 0 0 2% 10%;*/
}

.messageinfo {
    font-size: 2em;
    color: #0091D5;
    /*margin: 2% 0 4% 10%;*/
    letter-spacing: 2px;
}

.mapinfo {
    font-size: 1em;
    color: #ED1C24;
}

.mapinfo:hover {
    color:  #FFE300;
}

/*///////////////////////////////////////////*/
/* CUSOTMER CALANDER VIEW*/
.divMain{
    width: 50%;
    margin: 0 auto;
    display: block;

}

.input{
    width: 100%;
    margin: 0 auto 0;
    display: block;
}
.calendarDiv {
    width: 74%;
    margin: 0 auto 0;
    overflow: hidden;
    display: block;
}
.buttonCalendar{
    text-align: center;
}

.underline{
    border-top: 4px solid #ED1C24;
    border-bottom: 4px solid #ED1C24;
    width: 70%;
    height: 12px;
    display: block;
    margin: 0 auto 12px;
}
.underline-last{
    border-top: 4px solid #ED1C24;
    border-bottom: 4px solid #ED1C24;
    width: 70%;
    height: 12px;
    display: block;
    margin: 0 auto 37px;
}

.timeSlotContainer{
    font-size: 2em;
    text-align: center;
    background-color: white;
    border: 4px solid black;
    width: 66%;
    margin: 0 auto -4px;
    display: block;
}

.timeSlotContainer:hover{
    color: #ED1C24;
    background-color: #FFE300;
}

.quarterContainer {
    text-align: center;
    background-color: white;
    border: 4px solid black;
    border-left: none;
    border-right: none;
    margin: 0 auto -4px;
    display: block;
    color: #ED1C24;
}

.quarterContainer:hover{
    color: #ED1C24;
    background-color: #0091D5;
}

.quarterContainer:focus{
    color: #ED1C24;
    background-color: #0091D5;
}

.results{
    font-family: arvo;
    font-size: 1.5em;
    text-align: center;
    color: #ED1C24;
}
/*//////////////////////////////*/

.fa-caret-right{
    font-size: 5em;
}
.fa-caret-left{
    font-size: 5em;
}

.slide-prev{
    color: #0091D5;
    float:left;
    margin: -37px 0 0 10px;
}
.right{
    color: #0091D5;
    float:right;
    margin: -37px 10px 0 0;
}
.month-prev{
    color: #0091D5;
    float:left;
    margin: -37px 0 0 10px;
}
.month-next{
    color: #0091D5;
    float:right;
    margin: -37px 10px 0 0;
}
.day-prev{
    color: #0091D5;
    float:left;
    margin: -37px 0 0 10px;
}
.day-next{
    color: #0091D5;
    float:right;
    margin: -37px 10px 0 0;
}

.fa-caret-right:hover{
    color:#ED1C24;
}
.fa-caret-left:hover{
    color:#ED1C24;
}


/*//////////////////////////////*/

.slide-prevAdult{
    color: #0091D5;
    float:left;
    margin: -37px 0 0 26.5%;
}

.rightAdult{
    color: #0091D5;
    float:right;
    margin: -37px 26.5% 0 0;
}

.slide-prevChild{
    color: #0091D5;
    float:left;
    margin: -37px 0 0 26.5%;
    z-index: -1;
}

.rightChild{
    color: #0091D5;
    float:right;
    margin: -37px 26.5% 0 0;
}

/*////////////////////////////////////*/
/* CHECK NUMBERS FOR CHILDREN AND ADULTS */

.checkNums{
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 0 0 1% 0;
}
.checkChildrenNums{
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 3% 0 0 0;
}

.children12{
    text-align: center;
    color: #ED1C24;
    font-size:2em ;
    margin: -1% 0 1% 0;

}

.estimatedPrice{
    text-align: center;
    color: #0091D5;
    font-size:2.1em ;
    margin-top: 3%;
}

.black{
    color:black;
}

/*////////////////////////////////*/
/*CONFIRMATION PAGE*/


.currentReservation{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.res{
    font-size: 3.3em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ED1C24;
    margin: 40px 0 -14px 0;
}
.info{
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin: 4px 0 0 0;
}

.groupSize{
    font-family: arvo;
    font-size: 1.5em;
    font-weight: bold;
    color: #ED1C24;
    margin: 22px 0 0 0;

}


/*/////////////////////////////*/
/*USER CONTROL*/

.userControlMain {
    font-family: LTCTouristAlt, Oswald, Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 0 25%;
    width: 50%;
}
.redUC{
    color:#ED1C24;
}

.h1UserControl {
    font-size: 4.25em;
    letter-spacing: 3px;
    color: #0091D5;
    margin: 4% 0 -1% 0;
}

.h2UserControl {
    font-size: 3em;
    letter-spacing: 3px;
    color: #ED1C24;
    margin: 24px 0 -14px 0;
    clear: both;

}

.pUserControl {
    font-size: 2.4em;
    clear: both;

}
.futureReservationContainer{
    padding: 0 0 2% 0;
}
.pastUserControl {
    font-size: 2em;
    color: black;
    /*margin: 0 0 0 10%;*/
}

.divUserControl{
    margin: 2% auto;
}
.reservationDisclaimer {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #ED1C24;
    margin: 10px auto 34px;
    clear: both;
}
.customerInfo {
    font-size: 2em;
    letter-spacing: 1px;
    color: black;
    margin: 15px 0 1px 0;
    cursor: pointer;
}

/*////////////////////////////////////////////////////////////*/
/*// CASHIER CALENDAR VIEW */

.frontDeskMain{
    background:#FFFFFF url('/images/longLogo.png') no-repeat center center fixed;
    background-size: 80%;
}


li {
    list-style: none;
    font-size: 1.75em;
    letter-spacing: .75px;
}

.datepicker{
    text-align: center;
    font-size: 3em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   black;
    /*opacity:  1;*/
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    /*opacity:  1;*/
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:   black;
}

ul{
    margin: .75em 0 .75em 0;
    /*padding: 0 0 0 0;*/
}

.mainHour{
    background-color: white;
    border: 4px solid black;
    width: 60%;
    margin: 0 auto -4px;
    display: block;
}

.quarterHour{
    background-color: #cce5ff;
    border: 4px solid black;
    border-left: none;
    border-right: none;
    margin: 0 auto -4px;
    display: block;
    color: #ED1C24;
}

.reservation{
    background-color: white;
    border: 4px solid black;
    border-left: none;
    border-right: none;
    margin: 0 auto -4px;
    display: block;
}

.available{
    float: right;
    clear: both;
    margin-right: 2%;
}

.numAvailable{
    color: #ED1C24;
    background-color: white;
    float: right;
    border: 4px solid black;
    text-align: center;
    width: 1.45em;
    height: 1.45em;
    line-height: 1.25;
    margin: -4% 0 0 .5em;
}
.infoContainer{
    color: black;
    margin: 1% 1.5%;
    font-size:1.25em;
    height: 46px;
}

.infoForm{
    margin: 0 auto 46px 19px;
    font-size: 1.5em;
    letter-spacing: 1px;
    width: 66%;
    text-align: right;
}
.inputForm{
    background-color: white;
    width: 46%;
}
.inputname{
    margin: 12px 0 0 0;
    padding: 10px 0 0 0;
}
.labelInfo{
    width: 30%;
}


.checkboxes{
    float: right;
    color: black;
    margin: 1% -1%;
}

.check-in{
    width: 2em;
}
.red{
    color:#ED1C24;
    font-size: 1.25em;
    margin-left: 12px;
}


/*//////////////////////////////////////////////////////*/

/* BUTTONS */

.button-main{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 3.75em;
    letter-spacing: 2px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    clear: both;
}
.button-main:hover{
    color:#ED1C24;
    cursor: pointer;
}
.teeButton{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 2.5em;
    text-align: center;
    color: #ED1C24;
    background-color: #FFE300;
    padding: 8px 22px 2px;;
    text-decoration: none;
    border-radius: 0;
    margin: 29px auto 0;
    display: block;
    border: transparent;
    letter-spacing: 2px;
    width: 83%;
    cursor: pointer;
}
.teeButton:hover {
    color: #FFE300;
    background-color:#ED1C24;
}
.teeButtons {
    padding: 14px 0;
}
.continueButton{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 2.5em;
    text-align: center;
    color: #ED1C24;
    background-color: #FFE300;
    padding: 8px 22px 2px;;
    text-decoration: none;
    border-radius: 0;
    margin: 29px auto 0;
    display: block;
    border: transparent;
    letter-spacing: 2px;
    width: 66%;
    cursor: pointer;
}

.continueButton:hover {
    color: #FFE300;
    background-color:#ED1C24;
}

.submitButton{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    border: transparent;
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
    margin: 7% auto;
    display: block;
    color: #ED1C24;
    background-color: #FFE300;
    padding: .15em .5em;
    cursor: pointer;
}

.stats-buttons{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 2em;
    letter-spacing: 2px;
    width: 40%;
    display: block;
    margin: 12px auto;
    border: none;
    background-color: #FFE300;
    color:#ED1C24;
    padding: 5px 0 4px;
    cursor: pointer;
}

.stats-buttons:hover {
    color: #FFE300;
    background-color:#ED1C24;
}


.stats-button-blue{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 2em;
    letter-spacing: 2px;
    width: 40%;
    display: block;
    margin: 12px auto;
    border: none;
    background-color: #0091D5;
    color:white;
    padding: 5px 0 4px;
    cursor: pointer;
}

.stats-button-blue:hover {
    color: #0091D5;
    background-color:#FFE300;
}

.delete-button-user{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 2em;
    letter-spacing: 2px;
    width: 22%;
    display: block;
    margin: 12px auto;
    border: none;
    background-color: #ED1C24;
    color:white;
    padding: 5px 0 4px;
    cursor: pointer;
}
.delete-button-user:hover {
    color: #ED1C24;
    background-color:#FFE300;
}

.delete-email{
    font-family: Arvo;
    width: 40%;
    margin: 0 auto;
    display: block;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
}

.email-input{
    width: 65%;

}

.editable-buttons button{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    background-color: #0091D5;
    font-family: Arvo, georgia, serif;
    font-size: 16px;
    color: white;
    border-color: transparent;
    margin: 10px 9px 0 13px;
    padding: 4px 11px;
    cursor: pointer;
}
.editable-buttons button:hover{
    color: white;
    background-color: #ED1C24;

}
.editable-input{
    width: 157px;
    height: 27px;
    font-size: 1em;
    font-family: arvo;
}

.logoutButton{
    text-decoration: none;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
    background:white;
    border: none;
    cursor: pointer;
}

.logoutButton:hover{
    color: #ED1C24;

}
.loginButton{
    text-decoration: none;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: bold;
    color: black;
    margin: 0 5% 0 1%;
    cursor: pointer;
}
.loginButton:hover{
    color: #ED1C24;
}

.infoButton{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    color: #0091D5;
    background-color: white;
    border: 4px solid black;
    padding: .5% 1.25%;
    text-decoration: none;
    border-radius: 0;
    margin: 0 3%;
    float:right;
    cursor: pointer;
}

.infoButton:hover{
    background-color: #FFE300;
}

.teeButtons{
    text-align: center;
}
.cancelButton{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    color: #FFE300;
    background-color: #ED1C24;
    border: 4px solid black;
    text-decoration: none;
    border-radius: 0;
    margin: 0 41px;
    cursor: pointer;
}

.addNew{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    border: 4px solid black;
    text-decoration: none;
    cursor: pointer;
}

.userControlButton{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 1.75em;
    text-align: center;
    color: #FFE300;
    background-color: #ED1C24;
    padding: .5% 3%;
    text-decoration: none;
    border-radius: 0;
    border: medium none transparent;
    letter-spacing: 2px;
    float: right;
    margin: 0 0 35px 0;
}
.userControlButton:hover {
    color: #ED1C24;
    background-color: #FFE300;

}

.editButton{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 2.5em;
    text-align: center;
    color: #ED1C24;
    background-color: #FFE300;
    padding: 8px 22px 2px;
    text-decoration: none;
    border-radius: 0;
    margin: 21px auto 0;
    display: block;
    border: transparent;
    letter-spacing: 2px;
    width: 66%;
    cursor: pointer;
}

.editButton:hover{
    color: #FFE300;
    background-color: #ED1C24;
}

.blue-button{
    color: white;
    background-color:#0091D5;
}
.blue-button:hover{
    color: #0091D5;
    background-color:#FFE300;
}

.red-button{
    color: #FFE300;
    background-color:#ED1C24;
}
.red-button:hover{
    color: #ED1C24;
    background-color:#FFE300;
}
.yellow-button:hover{
    color: white;
    background-color:#0091D5;
}

.edit-text{
    color:#ED1C24;
    cursor: pointer;
}
.edit-text:hover{
    color: #0091D5;
}

.black-underline {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 100%;
    height: 12px;
    margin: 19px 0 0 0;
}
