@import url(https://fonts.googleapis.com/css?family=Oswald);

@font-face{
    font-family: LTCTourist;
    src:url('LTCTouristGothic-Regular.ttf');
}

/* this is a border hack */
*, *:before, *:after {
    box-sizing: inherit;
}
/* hack to stop blue hue on button and input clicks */
button:focus {outline:0;}
input:focus {outline:0;}

body{
    font-family: LTCTourist, Oswald, Helvetica, Arial, sans-serif;
}

/*home page css*/
.fa{
    color:black;
    margin: 4% 0 0 5%;
    font-size: 2em;

}
.mainLogo{
    display: block;
    margin: 3% auto;
    width: 31%;
}

.starLogo {
    width:3%;
    margin: 0 5% 0 1%;
}

.loginButton{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    /*float: right;*/
    margin: 0 5% 0 1%;
}

.logoutButton {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background:white;
    border: none;
}

h3{
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin: 15px 0 5px 5%;
}

p{
    font: 14px Georgia,serif;
    color: black;
    margin: 2px 0 5px 5%;
}

.continueButton{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: red;
    background-color: #FFE300;
    padding: 4px 29px;
    text-decoration: none;
    border-radius: 0;
    margin: 0 auto ;

}
.continueButton {
    color: #FFE300;
    background-color: #ed1c24;
}

a {
    text-decoration: none;
}

.fb{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    padding: 1% 4.8% .5%;
    text-decoration: none;
    border-radius: 0;
    margin: 3% auto;
}

/*/////////////////////////////////*/
/*REGISTER*/
.newUser{
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #0091D5;
    font-weight: bold;
    text-align: center;
    margin: 1% auto 3% auto;
    display: block;
}

#email{
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    padding: 1% 2%;
    border-color: transparent;
    /*text-decoration: none;*/
    /*border*/
    border-radius: 0;
    margin: 2% auto 2% auto;
    display: block;
}

#password{
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    padding: 1% 2%;
    border-color: transparent;
    /*text-decoration: none;*/
    /*border*/
    border-radius: 0;
    margin: 0 auto 2% auto;
    display: block;
}
#password2{
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    padding: 1% 2%;
    border-color: transparent;
    /*text-decoration: none;*/
    /*border*/
    border-radius: 0;
    margin: 0 auto 2% auto;
    display: block;
}

#name{
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    padding: 1% 2%;
    border-color: transparent;
    /*text-decoration: none;*/
    /*border*/
    border-radius: 0;
    margin: 0 auto 2% auto;
    display: block;
}

#username{
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    padding: 1% 2%;
    border-color: transparent;
    /*text-decoration: none;*/
    /*border*/
    border-radius: 0;
    margin: 0 auto 2% auto;
    display: block;
}

#phone{
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #0091D5;
    padding: 1% 2%;
    border-color: transparent;
    /*text-decoration: none;*/
    /*border*/
    border-radius: 0;
    margin: 0 auto 2% auto;
    display: block;
}
.passwordAlert {
    color: #ED1C24;
    text-align: center;
    font-family: LTCTourist;
    text-transform: uppercase;
}

/*/////////////////////////////////////*/
/*//cashier Calander View*/

 li {
    list-style: none;
     font-size: 1.25em;
}

 datepicker{
     text-align: center;
     font-size: 3em;
 }

 .dateButton{
     display:block;
     margin: 0 auto;
     color: black;
     border: none;
     font-size: 1em;
     text-align: center;
     background-color: white;
     font-family: Oswald;
 }

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   black;
    /*opacity:  1;*/
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    /*opacity:  1;*/
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:   black;
}

.submitButton{
    border: transparent;
    font-size: 2em;
    font-family: Oswald, Helvetica, Ariel, san-serif;
    text-align: center;
    margin: 7% auto;
    display: block;
    color: #ed1c24;
    background-color: #FFE300;
    padding: .15em .5em;
}

ul{
    margin: .75em 0 .75em 0;
}
.mainHour{
    font-size: 1.25em;
    background-color: white;
    border: 4px solid black;
    width: 70%;
    margin: 0 auto -4px;
    display: block;
}

.quarterHour{
    background-color: white;
    border: 4px solid black;
    border-left: none;
    border-right: none;
    margin: 0 auto -4px;
    display: block;
    color:#ED1C24;
}

.reservation{
    background-color: white;
    border: 4px solid black;
    border-left: none;
    border-right: none;
    margin: 0 auto -4px;
    display: block;
}

/*.infoName{*/
    /*float:left;*/
/*}*/
.adultNumber{
    margin: 0 2px 0 0;
}
/*.childNumber{*/
    /*float:left;*/
    /*clear:both;*/
/*}*/

.infoButton{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #0091D5;
    background-color: white;
    border: 3px solid black;
    padding: 0 .75em;
    text-decoration: none;
    border-radius: 0;
    margin: 0 3% 0 0;
}

.infoButton:hover{
    background-color:#FFE300;
}


.available{
    float:right;
    clear:both;
    margin-right: 3%;
    margin-top: -1.5em;
}

.numAvailable{
    font-weight: bold;
    color: #ED1C24;
    float: right;
    border: 4px solid black;
    text-align: center;
    /*padding: .15em .15em;*/
    width: 1.75em;
    height: 1.75em;
    margin: -4% 0 0 1em;
    line-height: 1.75em;
}

#checkboxes{
    float: right;
    margin: -7% 3% 0 0;
    color: black;
}


/*/////////////////////////////////////*/
/* media queries */

/*iphone5, 5s*/
@media only screen and (max-width: 320px) {
    body {

    }
}

/*iphone6*/
@media only screen and (max-width: 375px) {
    body {
    }
}

/*iphone6 plus*/
@media only screen and (max-width: 414px) {
    body {
    }
}
/*most android phones*/
@media only screen and (max-width: 360px) {
    body {
    }
}

/*ipad portrait and landscape*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

}

.infoButton{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #ED1C24;
    background-color: white;
    border: 2px solid black;
    padding: 3px 6px;
    text-decoration: none;
    border-radius: 0;
    margin: 0 3%;
}

.infoButton:hover{
    background-color:red;
}


/*customer hours and price info*/
.h3info {
    font-family: Oswald;
    font-size: 2.7em;
    font-weight: bold;
    color: red;
    margin: 2% 0 0 10%;
}
.h4info {
    font-family: Oswald;
    font-size: 3em;
    color: #0091D5;
    margin: 2% 10%;
    width: 100%;
}
.businessinfo {
    font-family: Georgia;
    font-size: 1.5em;
    margin: 0 0 2% 10%;
}
.messageinfo {
    font-family: Oswald;
    font-size: 1.5em;
    color: #0091D5;
    margin: 2% 0 5% 10%;
}
.mapinfo {
    font-family: Oswald;
    font-size: 1em;
    color: red;
}
.mapinfo:hover {
    color:  #FFE300;
}

/*usercontrol page*/
.h2usercontrol {
    font-family: Oswald;
    font-size: 3em;
    color: red;
    margin: 2% 0 5% 10%;
}
.divusercontrol {
    font-family: Georgia;
    font-size: 1.5em;
    color: black;
    margin: 2% 0 5% 10%;
}
.editInfo {
    font-family: Oswald;
    font-size: 1.5em;
}

#checkboxes{
    float: right;
    margin: 0 0 2em 0;
    color: black;
}


