/* blue #0091D5 */
/* red #ED1C24 */
/* yellow #FFE300 */

@font-face{
    font-family: LTCTourist;
    src: url('LTCTouristGothic-Regular.ttf');
}
@font-face{
    font-family: LTCTouristAlt;
    src:url('LTCTouristGothic-Alternate.ttf');
}

/* this is a border hack */
*, *:before, *:after {
    box-sizing: inherit;
}
/* hack to stop blue hue on button and input clicks */
button:focus {outline:0;}
input:focus {outline:0;}

.userControlMain {
    font-family: LTCTouristAlt, Oswald, Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 0 25%;
    width: 80%;
    /*text-align: center;*/
}
.redUC{
    color:#ED1C24;
}

.h1UserControl {
    font-family:LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 4.25em;
    letter-spacing: 1px;
    color: #0091D5;
    margin: 4% 0 -1% 0;
}
.h2UserControl {
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 3em;
    letter-spacing: 1px;
    color: #ED1C24;
    margin: 5% 0 0.5% 0;
}
.pUserControl {
    font-size: 2.4em;
    clear: both;

}
.futureReservationContainer{
    padding: 0 0 2% 0;
}
.pastUserControl {
    font-family:LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 2em;
    color: black;
    /*margin: 0 0 0 10%;*/
}

.divUserControl{
    margin: 2% auto;
}
.reservationDisclaimer {
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 2em;
    letter-spacing: 1px;
    color: #0091D5;
    margin: 49px auto 0;
    clear: both;
}
.customerInfo {
    font-size: 2em;
    letter-spacing: 1px;
    color: black;
    margin: 14px 0;
}
.userControlButton{
    font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
    font-size: 1.75em;
    text-align: center;
    color: #FFE300;
    background-color: #ED1C24;
    padding: .5% 3%;
    text-decoration: none;
    border-radius: 0;
    border: medium none transparent;
    letter-spacing: 1px;
    float: right;
    margin: 0 0 35px 0;
}
.userControlButton:hover {
    color: #ED1C24;
    background-color: #FFE300;

}

/* media queries */

/*iphone5, 5s*/
@media only screen and (max-width: 320px) {
    .userControlMain   {
        font-size: 80%;
        font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
        margin: 0 3% 0 5%;
        width:100%
    }
    .h1UserControl {
        color: #0091D5;
        margin: 0 5%;
        width: 100%;
    }

    .h2UserControl {
        font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
        color: #ED1C24;
        width: 90%;
        margin: 5% 10% 0;
    }

    .redUC {
        padding: 0 2%;
    }

    .divUserControl {
        margin: 3% 0 6% 0;
    }

    .pUserControl {
        padding: 2% 0;
        margin: 3px 15%;
        font-size: 2.6em;
        width: 100%;
    }
    .userControlButton {
        font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
        text-align: center;
        display: flex;
        font-size: 25px;
        color: #ED1C24;
        background-color: #FFE300;
        text-decoration: none;
        margin: 0 12%;
        padding: 2% 14%;
    }

    .userEditButton {
        font-size: 1.5em;
        margin: 5% 15px 12px;
        padding: 2% 14%;
        width: 60%
    }


}

/*iphone6*/
@media only screen and (max-width: 375px) {
    .userControlMain   {
        font-size: 80%;
        font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
        margin: 0 3% 0 5%;
        width:100%
    }
    .h1UserControl {
        color: #0091D5;
        margin: 0 5%;
        width: 100%;
    }

    .h2UserControl {
        font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
        color: #ED1C24;
        width: 90%;
        margin: 5% 10% 0;
    }

    .redUC {
        padding: 0 2%;
    }

    .divUserControl {
        margin: 3% 0 6% 0;
    }

    .pUserControl {
        padding: 2% 0;
        margin: 3px 15%;
        font-size: 2.4em;
        width: 100%;
    }
    .userControlButton {
        font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
        text-align: center;
        font-size: 25px;
        color: #ED1C24;
        background-color: #FFE300;
        text-decoration: none;
        margin: 0 12%;
        padding: 2% 14%;
    }

}

/*iphone6 plus*/
@media only screen and (max-width: 414px) {
        .h2UserControl {
            margin: 3% 5% 0 5%;
        }
}

/*most android phones*/
@media only screen and (max-width: 360px) {
    .userControlMain{
        font-size: 70%;
    }
    .reservationDisclaimer{
        margin: 63px auto 10px;
    }
    .userEditButton{
        padding: 1.75% 7%;
        text-decoration: none;
        border-radius: 0px;
        margin: 5% 0 12px;
        border: medium none transparent;
        letter-spacing: 1px;
        font-family: LTCTouristAlt, Helvetica, Ariel, san-serif;
        font-size: 2em;
        text-align: center;
        color: #ED1C24;
        background-color: #FFE300;
    }
}

/*ipad portrait and landscape*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

}

/* media queries */

/*iphone5, 5s*/
@media only screen and (max-width: 320px) {


}


/*iphone6*/
@media only screen and (max-width: 375px) {


}

/*iphone6 plus*/
@media only screen and (max-width: 414px) {


}

/*most android phones*/
@media only screen and (max-width: 360px) {

}
