<!DOCTYPE html>
<html lang="en" ng-app="frontDeskApp">
    <head>
        <meta charset="UTF-8">
        <title>Can Can Wonderland Scheduler</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/angular/angular.min.js"></script>
        <script src="/vendor/angular-route/angular-route.min.js"></script>
        <script src="/vendor/angular-xeditable/xeditable.min.js"></script>
        <script src="/vendor/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
        <script src="/javascripts/registerView.js"></script>

        <link rel="stylesheet" href="/vendor/simplegrid.css"/>
        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/vendor/angularjs-datepicker/dist/angular-datepicker.min.css"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <base href="/">
    </head>
    <body ng-controller="FrontDeskController as frontDesk">
        <header>
            <img src="/images/yellowBlue.png" class="starLogo" ng-click="admin.goHome()">
            <!--<button class="logoutButton" ng-click="admin.logout()">LOGOUT</button>-->
            <a class="logoutButton" ng-click="admin.logout()">LOGOUT</a>
        </header>

            <div class="calendarDiv">


                <div class="mainHour" ng-click="frontDesk.showQuarterHour()">
                   <ul>
                       <li>
                           {{hour}} available {{hourSlotNumber}}
                       </li>
                   </ul>
                </div>

                     <div class="quarterHour" ng-hide="frontDesk.quarterHour" ng-click="frontDesk.showReservation()">
                         <!--<ul class="quarterHourMaster" ng-repeat="reservation in reservations">-->
                             <li>
                                    {{frontDesk.quarterHour}}
                             </li>
                         </ul>
                     </div>
                  </div>

                        <div class="reservation"  ng-hide="frontDesk.showReservationSlot">
                            <ul>
                                <li>
                                    {{frontDesk.fullname}} {{frontDesk.partySize}} <button class="infoButton">INFO</button> walk-up <input type="checkbox" name="walk-up" value="walk-up"> check-in <input type="checkbox" name="check-in" value="check-in">
                                </li>
                            </ul>
                        </div>
            </div>

    </body>
</html>

