<!DOCTYPE html>
<html lang="en" ng-app="frontDeskApp">
    <head>
        <meta charset="UTF-8">
        <title>Can Can Wonderland Scheduler</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/angular/angular.min.js"></script>
        <script src="/vendor/angular-route/angular-route.min.js"></script>
        <script src="/vendor/angular-xeditable/xeditable.min.js"></script>
        <script src="/vendor/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
        <script src="/javascripts/registerView.js"></script>
        <script src="/vendor/moment/min/moment.min.js"></script>

        <link rel="stylesheet" href="/vendor/simplegrid.css"/>
        <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/vendor/angularjs-datepicker/dist/angular-datepicker.min.css"/>
        <link rel="stylesheet" href="/stylesheets/calendarStyles.css"/>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
        <base href="/">
    </head>
    <body ng-controller="FrontDeskController as frontDesk">
        <header>

            <img src="/images/yellowBlue.png" class="starLogo" ng-click="admin.goHome()">
            <!--<button class="logoutButton" ng-click="admin.logout()">LOGOUT</button>-->
            <a class="logoutButton" ng-click="admin.logout()">LOGOUT</a>
        </header>

            <div class="calendarDiv">

                <datepicker  date-format="{{today | date:'shortDate'}}">
                    <input class='dateButton' ng-model="frontDesk.date" type="text" name="datebutton" placeholder="PICK A DATE"/>
                </datepicker>

                     <button ng-click="frontDesk.submitTime()"  class="submitButton">Submit</button>
                </div>

                    <!--ON THIS CLICK, SHOW QUARTER HOURS BELOW IT-->
                <div class="mainHour"  ng-repeat="hour in frontDesk.currentDate" >
                   <ul>
                       <li ng-click="vm.quarterHour = ! vm.quarterHour">
                          <div class="hour"> {{hour.hour}} </div>
                            <div class="available">AVAILABLE <div class="numAvailable"> {{hour.totalSlotsRemaining}}</div></div>
                       </li>
                   </ul>
                    <!-- ON THIS CLICK SHOW RESERVATIONS-->
                    <div class="quarterHour" ng-show="vm.quarterHour" ng-repeat="quarter in hour.quarters track by $index">
                        <ul>
                            <li ng-click="vm.reservation = ! vm.reservation">
                                <div class="hour"> {{quarter.quarter}} </div>
                                    <div class="available">AVAILABLE <div class="numAvailable"> {{quarter.remainingSlots}}</div></div>
                            </li>
                         </ul>
                    <div class="reservation" ng-show="vm.reservation" ng-repeat="info in quarter.reservations | limitTo: 5" >
                        <ul>
                            <li>
                                <div class="infoName">{{info.email}}
                                    <div class="adultNumber">{{info.adultnumber}}
                                        <!--<div class="childNumber">-->
                                            {{info.childnumber}} </div>
                                            <button class="infoButton">INFO</button> </div>
                                                <div id="checkboxes"> walk-up <input type="checkbox" class="walk-up" name="walk-up" value="walk-up"> check-in <input type="checkbox" class="check-in" name="check-in" value="check-in"> </div>
                            </li>
                         </ul>
                    </div>
                </div>
            </div>
    </body>
</html>

